<button class="btn btn-secondary btn-sm mt-3" type="button" (click)="logOut()">Logout</button> <br/> <br/>

<h3>User Detail</h3> <br/>

<div *ngIf="userDetails" style="border: solid 1px; padding: 9px;">
    <label>Id : {{userDetails.id}}</label> <br/>
    <label>Name : {{userDetails.name}}</label> <br/>
    <label>Email : {{userDetails.email}}</label> <br/>
    <label>Address : {{userDetails.address}}</label> <br/>
    <label>Zip : {{userDetails.zip}}</label> <br/>
    <label>Country Name : {{userDetails.country.name}}</label> <br/>
    <label>Created At : {{userDetails.created_at}}</label> <br/>
    <label>Updated At : {{userDetails.updated_at}}</label> <br/>
</div>
